# Gr64f Reinforcement based RL Modelling

In [9]:
import os
import pandas as pd
import numpy as np
from flyjax.experiment.get import fetch_behavioral_data, get_experiments
from flyjax.utils.plotting import plot_single_experiment_data

data_folder = '../../../data/gr64f_dmVS_14-09-2023/' # folder containing the data
minimal_trials = 180 # minimal number of trials to consider a fly to be included in the analysis

choices, rewards, metadata = fetch_behavioral_data(data_folder, minimal_trials, remove_control=True)

In [10]:
vals, counts = np.unique(metadata['Fly Experiment'], return_counts=True)

In [12]:
metadata

,Fly Experiment,Arena,Folder,Experiment Start Time,Starvation Time,Odor 1,Odor 2
0,exp3.csv,9,../data/41hr_starvation_deepmind_2023-05-04_09-36,2023-05-04 09:42:29,2023-05-04 08:30:00,MHO 1:1000,HAL 1:1000
1,exp2_reciprocal.csv,1,../data/41hr_starvation_deepmind_2023-05-04_09-36,2023-05-04 09:42:29,2023-05-04 08:30:00,MHO 1:1000,HAL 1:1000
2,exp1_reciprocal.csv,11,../data/41hr_starvation_deepmind_2023-05-04_09-36,2023-05-04 09:42:29,2023-05-04 08:30:00,MHO 1:1000,HAL 1:1000
3,exp1.csv,8,../data/41hr_starvation_deepmind_2023-05-04_09-36,2023-05-04 09:42:29,2023-05-04 08:30:00,MHO 1:1000,HAL 1:1000
4,exp2.csv,7,../data/41hr_starvation_deepmind_2023-05-04_09-36,2023-05-04 09:42:29,2023-05-04 08:30:00,MHO 1:1000,HAL 1:1000
...,...,...,...,...,...,...,...
370,exp60_reciprocal.csv,10,../data/46hr_starvation_deepmind_2023-09-13_13-54,2023-09-13 13:54:53,2023-09-11 16:00:00,MHO 1:1000,HAL 1:1000
371,exp60.csv,11,../data/46hr_starvation_deepmind_2023-09-13_13-54,2023-09-13 13:54:53,2023-09-11 16:00:00,MHO 1:1000,HAL 1:1000
372,exp59.csv,12,../data/46hr_starvation_deepmind_2023-09-13_13-54,2023-09-13 13:54:53,2023-09-11 16:00:00,MHO 1:1000,HAL 1:1000
373,exp60_reciprocal.csv,2,../data/46hr_starvation_deepmind_2023-09-13_13-54,2023-09-13 13:54:53,2023-09-11 16:00:00,MHO 1:1000,HAL 1:1000
374,exp59_reciprocal.csv,15,../data/46hr_starvation_deepmind_2023-09-13_13-54,2023-09-13 13:54:53,2023-09-11 16:00:00,MHO 1:1000,HAL 1:1000

1     2023-05-11 09:35:12
2     2023-06-02 09:50:04
3     2023-05-04 09:42:29
4     2023-05-25 10:10:42
5     2023-06-09 09:46:24
              ...
402   2023-05-25 14:45:06
403   2023-05-26 13:51:48
404   2023-08-25 13:50:59
405   2023-08-30 13:42:21
406   2023-09-13 13:54:53
Name: Experiment Start Time, Length: 375, dtype: datetime64[ns]

In [34]:
metadata['Experiment Start Time']

1      2023-05-11 09:35:12
2      2023-06-02 09:50:04
3      2023-05-04 09:42:29
4      2023-05-25 10:10:42
5      2023-06-09 09:46:24
              ...
402    2023-05-25 14:45:06
403    2023-05-26 13:51:48
404    2023-08-25 13:50:59
405    2023-08-30 13:42:21
406    2023-09-13 13:54:53
Name: Experiment Start Time, Length: 375, dtype: object